/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  justify-content: center;
  font-family: var(--main-font);
  letter-spacing: 0px;
  background-image: var(--page-bg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  border: solid 2px #000000;
  font-family: var(--accent-font);
  background-color: #FFFFFF;
  inline-size: var(--header-inline-size);
  block-size: var(--header-block-size);
}

.header-title {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 50px;
  inline-size: var(--main-inline-size);
}

.main-section {
  border: solid 2px #000000;
  background-color: #FFFFFF;
}

.main-section-title {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 18px;
}

.main-section-image-block {
  position: relative;
}

.main-section-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
}

.main-section-image {
  display: block;
  inline-size: 100%;
  min-block-size: 375px;
  max-block-size: 700px;
  block-size: 700px;
}

.main-section-text-block {
  margin: 25px;
  min-inline-size: 321px;
  max-inline-size: 646px;
}

.main-section-text {
  font-size: 18px;
  line-height: 21px;
}

.main-section-text:first-child {
  margin-block-end: 27px;
}

.main-section-like-block {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 6px;
  margin-block-start: 25px;
  block-size: 38px;
}

.card__icon-button {
  border: none;
  padding: 0;
  background-color: transparent;
  block-size: 100%;
  inline-size: 39px;
}

.like-icon {
  inline-size: 39px;
  block-size: 100%;
}

.card__like-button {
  border: solid 2px #000000;
  background-color: transparent;
  inline-size: 130px;
  block-size: 100%;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.save-button {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  border: solid 2px #000000;
  padding: 15px 20px;
  background-color: transparent;
  inline-size: 340px;
  block-size: 55px;
}

.save-button-icon {
  inline-size: 21px;
}

.save-button-text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.dialog {
  padding: 30px;
  min-inline-size: 341px;
  max-inline-size: 353px;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 1fr 38px;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
}

.dialog-icon {
  grid-column: 1;
  inline-size: 39px;
  block-size: 39px;
}

.dialog-text {
  grid-column: 2;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-close {
  grid-column: 1 / 3;
  border: solid 2px #000000;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  inline-size: 100%;
  block-size: 100%;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
} 

.main-section:nth-child(2) .main-section-image {
  filter: grayscale(100%) brightness(90%) hue-rotate(180deg);
}

.main-section:nth-child(3) .main-section-image {
  filter: sepia(70%) contrast(110%);
}

.main-section:nth-child(4) .main-section-image {
  filter: contrast(200%) brightness(90%);
}

.main-section:nth-child(5) .main-section-image {
  filter: brightness(110%) hue-rotate(-30deg) saturate(120%);
}

.main-section:nth-child(6) .main-section-image {
  filter: brightness(95%) hue-rotate(180deg) saturate(80%);
}

.main-section:nth-child(7) .main-section-image {
  filter: blur(2px) brightness(70%);
}

.main-section:nth-child(8) .main-section-image {
  filter: brightness(120%) saturate(150%) contrast(110%);
}

.card__like-button:focus, .save-button:focus, .dialog-close:focus {
  box-shadow: 2px 2px  #000000;
  transition: box-shadow 0.3s ease;
}

button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card__like-button::before, 
.save-button::before, 
.dialog-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button:hover::before, 
.save-button:hover::before, 
.dialog-close:hover::before {
  transform: translateX(0);
}

.card__like-button,
.save-button,
.dialog-close, .dialog-icon {
  position: relative;
  z-index: 1;
}
  
.card__like-button:hover .button__text,
.save-button:hover .save-button-text,
.dialog-close:hover .button__text {
  color: #fff;
  mix-blend-mode: difference;
}

.save-button:hover .save-button-icon {
  filter: invert(1);
}

.button__text,
.save-button-text,
.save-button-icon {
  transition: color 0.5s ease-in-out, filter 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s 0s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart {
  transform: scale(1);
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  opacity: 0;
  animation: sparks-appear 0.3s ease-in 0.3s;
}

@supports (text-stroke: 4px #fff) {
  span {
    text-stroke: 4px #fff;
  }
}

@media (width < 700px) {
  :root {
    --header-inline-size: 100vw;
    --header-block-size: 327px;
    --main-inline-size: 100vw;
  }

  .main-section-image {
    block-size: 100%;
  }

}

@media (width <= 376px) {
  .main-section-text-block {
    inline-size: 321px;
  }

  .main-section-image {
    block-size: 375px;
  }

  .main-section-label {
    right: 13px;
  }

  .save-button {
    flex-direction: column;
    inline-size: 310px;
    block-size: 84px;
  }

  .save-button-icon {
    display: block;
    inline-size: 28px;
  }
}