/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable.woff2", sans-serif;
  --accent-font: "PressStart2P-Regular.woff", sans-serif
}